.header {
    width: 100%;
}
.primary_logo {
    width: 8%;
    padding-left: 2rem;
}
.tesla_link {
    width: 8%;
    text-decoration: none;
    color: black;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
}
.menu_options {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 35%;
}
.menu_item {
    text-decoration: none;
    padding: 0.2rem;
    transition: 0.4s;
    color: black;
}